<h1>Sign Up Below:</h1>

<form action="/registrations" method="POST">
  <p>Name of item: <input type="text" name="item"></p>
  <p>Name of item: <input type="text" name="item"></p>
  <p>Name of item: <input type="text" name="item"></p>
  <input id="submit" type="submit" value="sumbit">
</form>